/**
 * Custom Admin CSS - Backend / Area riservata
 * Modifica questo file per personalizzare l'aspetto del pannello di gestione.
 */

/* -------------------------------------------------------------------------
   Header / Navbar
   ------------------------------------------------------------------------- */
#header.navbar { }
.navbar-brand .logo { 

   width: 100px
}
.navbar-toolbar { }

/* -------------------------------------------------------------------------
   Sidebar
   ------------------------------------------------------------------------- */
.sidebar { }
.sidebar .nav { }
.sidebar .nav > li { }
.sidebar .nav > li > a { }
.sidebar .nav > li.active > a { }

/* -------------------------------------------------------------------------
   Main content
   ------------------------------------------------------------------------- */
.main-content { }
.page-header { }
.panel { }
.panel-heading { }
.panel-body { }

/* -------------------------------------------------------------------------
   Tables
   ------------------------------------------------------------------------- */
.table { }
.table > thead > tr > th { }
.table > tbody > tr > td { }
.table-striped > tbody > tr:nth-of-type(odd) { }

/* -------------------------------------------------------------------------
   Buttons & Forms
   ------------------------------------------------------------------------- */
.btn { }
.btn-primary { }
.btn-default { }
.form-control { }
.form-group { }

/* -------------------------------------------------------------------------
   Utilities
   ------------------------------------------------------------------------- */
/* Aggiungi qui le tue regole personalizzate */
